# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.env.*
pip-selfcheck.json
pip-log.txt
*.egg-info/
dist/
build/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
cover.out

# Neural Network Models
models/*
!models/.gitkeep
*.pt
*.pth
*.onnx

# Data
data/dataset/
data/raw/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
